.form-register{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
    text-align: center;
    margin-top: 100px;
}
.form_titulo{
    background: deepskyblue;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
}

form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 100px;
    border-radius: 7px;
}
h1{
    color:darkblue ;
    text-align: center;
    margin: 8px;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: -78px;
}

.contenedor-imputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    margin-bottom: 10px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 2px solid darkgray;
}
.imput-47{
    width: 47%;
}

.imput-100x{
    width: 100%;
    text-align: center;
}

#boton{
    background:#31384A;
    color: #fff;
    padding: 10px;
    margin:auto;
}
#boton:hover{
    cursor: pointer;
}
@media (max-width:480px){
    form{
        width: 100%;
    }
}